html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.image {
   position: relative;
   width: 100%;
   height: 98vh;
}

h2 {
   position: absolute;
   top: 35%;
   left: 0;
   width: 100%;
}

.button {
   position: absolute;
   bottom: 1em;
   right: 41%;
   background-color: black;
   border-radius: 0.2em;
   color: white;
   padding: 0.5em 0.5em;
   size: 20px;
   width: 22%;
   height: fit-content;
}

.contentOnImage {
   color: white;
   font: bold Okra, Helvetica, sans-serif;
   font-size: 30px;
   font-weight: 1000;
   max-width: 70%;
}
.carousel .thumb img {
   width: 100% !important;
   height: 100% !important;
}

.carousel .slide img {
   max-height: 500px; 
   width: 100%;
}